<div class="panel-area">
    <div *ngIf="app$ | async as app; else loading" fxLayout="column wrap" fxLayoutGap="30px">
        <div fxFlex="calc(20%-30px)">
            <div fxLayout="row wrap" class="plr-30" fxLayoutAlign="start center">
                <div>
                    <h1>{{app.name | titlecase}}</h1>
                    <p class="header-desc">...</p>
                </div>

                <span fxFlex="1 1 auto"></span>
                <button mat-raised-button color="secondary" [routerLink]="['..']">
                    <mat-icon class="mat-18">arrow_back_ios</mat-icon>
                    Go Back
                </button>
            </div>
            <mat-divider></mat-divider>
        </div>

        <!-- <div fxFlex="calc(10%-30px)" class="plr-30">
              <app-account-autocomplete-chip (valueChanged)="accountsFilterChanged($event)"></app-account-autocomplete-chip>
            </div> -->

        <div fxFlex="calc(70%-30px)">
            <mat-tab-group animationDuration="0ms">
                <mat-tab label="App Info">
                    <app-app-info [app]="app"></app-app-info>
                </mat-tab>
                <mat-tab label="Web Hook">Content 2</mat-tab>
                <mat-tab label="Permissions">Content 3</mat-tab>
                <mat-tab label="Roles">Content 3</mat-tab>
                <mat-tab label="Site Credentials">Content 3</mat-tab>
            </mat-tab-group>
        </div>
    </div>
    <ng-template #loading>
        <mat-spinner style="margin:0 auto;"></mat-spinner>
    </ng-template>

</div>