<div fxLayout="column wrap" fxLayoutGap="30px">

    <div fxFlex="calc(20%-30px)">
        <div fxLayout="row wrap" class="plr-30" fxLayoutAlign="start center">
            <div>
                <h3>App Permissions</h3>
                <p class="header-desc">Define Permissions for this app Here.</p>
            </div>
           
        </div>
        <mat-divider></mat-divider>
    </div>
    <div fxFlex="calc(80%-30px)">
        <div class="plr-30">
            <app-permission-form [app]="app" (onSave)="handleSaveEvent($event)"
            (onDelete)="handleDeleteEvent($event)"></app-permission-form>
        </div>
    </div>
</div>