<div fxLayout="column wrap" fxLayoutGap="20px" fxFlex.gt-md="50%">
    <div>
        <form fxLayout="column wrap" [formGroup]="doForm" fxLayoutGap="20px" (ngSubmit)="onSaveClick()">
            <div>
                <label>Specify your App Permissions Here. Use Underscores between words. E.g CREATE_USER,
                    EDIT_USER</label>
                <mat-divider></mat-divider>
            </div>

            <div fxLayout="row wrap">
                <mat-form-field fxFlex="100" controlErrorContainer>
                    <mat-select formControlName="role" placeholder="Role">
                        <mat-option *ngFor="let item of app.roles" [value]="item.name">
                            {{item.name}}</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>

            <div fxLayout="row wrap">
                <mat-form-field fxFlex="100" controlErrorContainer>
                    <mat-select formControlName="role" placeholder="Permission" formControlName="name">
                        <mat-option *ngFor="let item of app.appPermissions" [value]="item.name">
                            {{item.name}}</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>

            <div fxLayout="row wrap" fxLayoutAlign="end stretch">
                <button mat-raised-button color="primary" type="submit">
                    <mat-icon>add</mat-icon> Add
                </button>
            </div>

        </form>
    </div>


    <div>
        <div fxLayout="column wrap" fxLayoutGap="20px">
            <div>
                <label>Permissions</label>
                <mat-divider></mat-divider>
            </div>

            <div *ngFor="let option of getPermissions()">
                <div fxLayout="row wrap" fxLayoutAlign="start center" fxLayoutGap="20px">
                    <div fxFlex="calc(80% - 20px)">{{option.name}}</div>
                    <div fxFlex="calc(20% - 20px)">
                        <button mat-icon-button color="warn" aria-label="Delete" (click)="onDeleteClick(option)">
                            <mat-icon>delete</mat-icon>
                        </button>
                    </div>
                </div>
                <mat-divider></mat-divider>
            </div>
        </div>
    </div>
</div>