<div class="mat-app-background basic-container">

    <mat-card class="mat-card-content">
        <form>
            <div fxLayout="row" fxLayoutAlign="start stretch">
                <h5 fxFlexOffset="19%">Account Detials</h5>
                <br>
            </div>
            <div fxLayout="row" fxLayoutAlign="center stretch" fxLayoutGap="30px" fxLayout.lt-lg="column wrap">
                <mat-form-field appearance="outline" fxFlex="30%" fxFlex.lt-lg="100%">
                    <mat-label>Account Name</mat-label>
                    <input matInput placeholder=Wisdom>
                    <mat-hint>Enter Account Name</mat-hint>
                </mat-form-field>
                <mat-form-field fxFlex="30%" appearance="outline" fxFlex.lt-lg="100%">
                    <mat-label>Account Type</mat-label>
                    <select matNativeControl id="mySelectId">
                        <option value="" disabled selected></option>
                        <option value="CODELAB">CODELAB</option>
                        <option value="REM">REM</option>
                        <option value="mercedes">Mercedes</option>
                    </select>
                    <mat-hint>Select Account Type</mat-hint>
                </mat-form-field>

            </div>
            <br>

            <!-- <div>
                <mat-form-field appearance="outline">
                    <mat-label>Firstname</mat-label>
                    <input matInput placeholder=Wisdom>
                    <mat-hint>Enter account user's firstname</mat-hint>
                </mat-form-field>
                <mat-form-field appearance="outline">
                    <mat-label>Firstname</mat-label>
                    <input matInput placeholder=Wisdom>
                    <mat-hint>Enter account user's firstname</mat-hint>
                </mat-form-field>
                <mat-form-field appearance="outline">
                    <mat-label>Firstname</mat-label>
                    <input matInput placeholder=Wisdom>
                    <mat-hint>Enter account user's firstname</mat-hint>
                </mat-form-field>

                <mat-form-field appearance="outline">
                    <mat-label>Latsname</mat-label>
                    <input matInput placeholder=Abbas>
                    <mat-hint>Enter account user's lastname</mat-hint>
                </mat-form-field>

            </div> -->
            <div fxLayout="row" fxLayoutAlign="start stretch">
                <h5 fxFlexOffset="19%">Account Admin Detials</h5>
                <br>
            </div>
            <div fxLayout="row" fxLayoutAlign="center stretch" fxLayoutGap="30px" fxLayout.lt-lg="column wrap">
                <mat-form-field appearance="outline" fxFlex="30%" fxFlex.lt-lg="100%">
                    <mat-label>Username</mat-label>
                    <input matInput placeholder=Manny>
                    <mat-hint>enter username</mat-hint>
                </mat-form-field>
                <mat-form-field appearance="outline" fxFlex="30%" fxFlex.lt-lg="100%">
                    <mat-label>Email</mat-label>
                    <input matInput placeholder=example@gmail.com>
                    <mat-hint>Enter email</mat-hint>
                </mat-form-field>

            </div>

            <div fxLayout="row" fxLayoutAlign="center stretch" fxLayoutGap="30px" fxLayout.lt-lg="column wrap">
                <mat-form-field appearance="outline" fxFlex="30%" fxFlex.lt-lg="100%">
                    <mat-label>Firstname</mat-label>
                    <input matInput placeholder=Wisdom>
                    <mat-hint>enter admin's firstname</mat-hint>
                </mat-form-field>
                <mat-form-field appearance="outline" fxFlex="30%" fxFlex.lt-lg="100%">
                    <mat-label>Lastname</mat-label>
                    <input matInput placeholder=Wisdom>
                    <mat-hint>enter admin's lastname</mat-hint>
                </mat-form-field>

            </div>


            <div fxLayout="row" fxLayoutAlign="center stretch 100%" fxLayoutGap="30px" fxLayout.lt-lg="column wrap">
                <mat-form-field appearance="outline" fxFlex="30%" fxFlex.lt-lg="100%">
                    <mat-label>Password</mat-label>
                    <input matInput placeholder=Wisdom>
                    <mat-hint>enter password</mat-hint>
                </mat-form-field>
                <mat-form-field appearance="outline" fxFlex="30%" fxFlex.lt-lg="100%">
                    <mat-label>Confirm Password</mat-label>
                    <input matInput placeholder=********>
                    <mat-hint>enter password again</mat-hint>
                </mat-form-field>

            </div>

            <div fxLayout="row" fxLayoutAlign="start stretch 100%" fxLayoutGap="30px" fxLayout.lt-lg="column wrap">

                <mat-form-field fxFlexOffset="19%" appearance="outline" fxFlex="30%" fxFlex.lt-lg="100%">
                    <mat-label>Phone Number</mat-label>
                    <input matInput placeholder=Wisdom>
                    <mat-hint>enter phonenumber</mat-hint>
                </mat-form-field>

            </div>

            <div fxLayout="row" fxLayoutAlign="end stretch" fxLayoutGap="30px" fxLayout.lt-lg="column wrap">
                <button fxLayoutAlign="stretch" mat-raised-button>Save</button>
            </div>

        </form>

    </mat-card>


</div>