/* Structure */


  table {
    width: 100%;
  }
  

  .filter {
    display: block;
  }
.panel-area {
  background-color: white;
  border-radius: 5px;
}

.mat-icon green {
  color: green;
}

.mat-header-cell {
  font-weight: bold;
  font-size: medium;
}

.mat-row:hover {
  background-color: rgba(212, 209, 209, 0.15);
  cursor: pointer;
}