/* You can add global styles to this file, and also import other style files */

/* margin left */
.ml-5 {
    margin-left: 5px;
}

.ml-10 {
  margin-left: 10px;
}

/* margin left */


  /* margin right */
.mr-5 {
    margin-right: 5px;
} 
.mr-10 {
    margin-right: 10px;
}
/* margin  right */
  

/* margin bottom */
.mb-5 {
  margin-bottom: 5px;
}

/* margin bottom */

/* margin top */
.mt-50 {
  margin-top: 50px;
}
/* margin-top */
  
 
.header-desc {
      color: gray;
}

.plr-10 {
    padding-left: 10px;
    padding-right: 10px;
}

.plr-30 {
  padding-left: 30px;
  padding-right: 30px;
}

.panel-area {
  background-color: white;
  border-radius: 5px;
}

#margin
.m-10 {
  margin: 10px;
}